@font-face {
  font-family: 'Unica One';
  src: url('../../assets/fonts/Unica_One/UnicaOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', 'Roboto', 'Open Sans', Arial, sans-serif;
}

html {
  box-sizing: border-box;
}

body {
  padding: 0;
  background-color: #808080;
  font-family: 'Unica One', sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

body.index {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

main {
  position: relative;
  margin-top: 110px;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 110px - 70px);
  overflow: hidden;
}

main::-webkit-scrollbar {
  display: none;
}

main.index-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  color: #ffffff;
  text-align: center;
  position: absolute;
  top: 10%;
  font-size: 1.9rem;
  z-index: 11;
}

.header-title {
  font-family: 'Unica One', sans-serif;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
  display: flex;
  z-index: 1000;
  overflow: hidden;
}

.header-background {
  width: 100%;
  height: 100%;
  background-image: repeating-radial-gradient(#0c0a0a 80%, #2f312f 90%, #3f4549 90%);
  background-size: 65px 65px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#home-title {
  background: linear-gradient(45deg, #a8dadc, #f1faee);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Unica One', sans-serif;
  font-size: 3rem;
  color: #222;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  letter-spacing: 1px;
  margin: 20px 0;
  white-space: nowrap;
}

#home-title .home-link {
  text-decoration: none;
  color: inherit;
  font: inherit;
  display: inline-block;
}

@media screen and (max-width: 768px) {
  #home-title {
    font-size: 1.95rem;
    white-space: normal;
    word-break: break-word;
  }
}

nav {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  transform: translateY(100%);
  transition: transform 0.5s ease-in-out;
  z-index: 1000;
  padding: 10px 0;
  display: flex;
  justify-content: center;
}

nav.nav-visible {
  transform: translateY(0);
}

ul.desktop-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

ul.desktop-nav li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

label.hamburger {
  display: none;
  cursor: pointer;
  z-index: 15;
}

label.hamburger input {
  display: none;
}

label.hamburger span {
  display: block;
  width: 30px;
  height: 3px;
  margin: 5px auto;
  background-color: white;
  transition: all 0.3s ease-in-out;
}

ul.mobile-nav {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: none;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 9;
}

ul.mobile-nav.open {
  display: flex;
}

ul.mobile-nav li a {
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  label.hamburger {
    display: block;
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    padding: 10px;
    box-sizing: border-box;
  }

  ul.desktop-nav {
    display: none;
  }

  nav {
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 15px;
  }
}

.home-card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin: 0 auto;
  max-width: 600px;
  justify-items: center;
  align-items: start;
  padding: 20px 0;
}

.home-card {
  width: 220px;
  height: 294px;
  background-color: #424242;
  border-radius: 20px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.212);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  overflow: hidden;
  position: relative;
  transition: all 0.4s ease;
}

.home-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  transition: transform 0.4s ease;
  border-radius: 20px;
}

.home-card div {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.212);
  cursor: pointer;
  z-index: 5;
  transition: all 0.4s ease;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
}

.home-card:hover img {
  transform: translateY(-30px);
}

.home-card:hover div {
  transform: translateY(-30px);
}

.home-card::before {
  content: attr(data-text);
  letter-spacing: 0.2em;
  position: absolute;
  bottom: 8px;
  left: 20px;
  color: rgb(255, 255, 255);
  font-size: 0.8em;
  font-weight: 700;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.home-card:hover::before {
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .home-card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
    max-width: 400px;
    padding: 5px;
    margin: auto;
    box-sizing: border-box;
  }

  .home-card {
    width: 184px;
    height: 240px;
    background-color: #424242;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    position: relative;
  }

  .home-card img {
    width: 100%;
    height: 100%;
    position: relative;
    object-fit: cover;
    z-index: 1;
    transform: none;
    border-radius: 10px;
  }

  .home-card::before {
    content: attr(data-text);
    font-size: 0.7rem;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    text-align: center;
    white-space: nowrap;
    opacity: 1;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    background: rgba(0, 0, 0, 0.7);
    padding: 5px 10px;
    border-radius: 10px;
  }

  .home-card:hover::before {
    opacity: 1;
  }

  .home-card div {
    display: none;
  }

  .home-card:hover img {
    transform: none;
  }

  .home-card:hover div {
    transform: none;
  }
}

.card {
  position: relative;
  width: 90%;
  max-width: 512px;
  aspect-ratio: 1 / 1;
  background-color: #424242;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  padding: 20px;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.card__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  padding: 20px;
  box-sizing: border-box;
  background-color: rgba(42, 42, 42, 0.9);
  border-radius: 10px;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover .card__content {
  transform: rotateX(0deg);
  border-radius: 10px;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover img {
  opacity: 0.8;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .card {
    padding: 10px;
  }
}

.portfolio-header {
  text-align: center;
  margin-bottom: 16px;
}

.portfolio-header h1 {
  font-size: 2rem;
  margin: 0;
}

.portfolio-header p {
  font-size: 1.2rem;
  margin: 8px 0 0;
  color: rgb(84, 84, 84);
}

.portfolio-grid {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-flow: row dense;
  grid-auto-rows: min-content;
  width: 100%;
  max-width: none;
  gap: 8px;
  padding: 16px;
  overflow-y: auto;
  z-index: 0;
  box-sizing: border-box;
}

#content-placeholder {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

@media (min-width: 1025px) {
  .portfolio-grid {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (max-width: 1024px) {
  .portfolio-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
  }

  .dynamic-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 0.5s ease, width 0.5s ease, height 0.5s ease;
  }

  .dynamic-card.vertical {
    grid-column: span 2;
  }
}

@media (max-width: 768px) {
  .portfolio-grid {
    grid-template-columns: repeat(1, 1fr);
    height: auto;
    min-height: auto;
  }
}

.portfolio-grid::-webkit-scrollbar {
  display: none;
}

.featured {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

.featured:hover {
  transform: scale(1.15);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.dynamic-card {
  display: inline-block;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  transform: translateY(100px) scale(0.95);
  transition: transform 0.8s cubic-bezier(0.25, 1, 0.5, 1), opacity 0.6s ease;
  animation: stackIn 0.6s ease both;
}

.dynamic-card img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.dynamic-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  z-index: 10;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.dynamic-card:hover img {
  transform: scale(1.1);
}

.dynamic-card:hover:first-child {
  transform-origin: left center;
}

.dynamic-card:hover:last-child {
  transform-origin: right center;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.card-front,
.card-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.card-front {
  z-index: 2;
}

.card-front img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.text-wrapper {
  position: relative;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 8px;
  box-sizing: border-box;
  overflow: hidden;
  z-index: 2;
  transition: height 0.4s ease;
}

.text-wrapper.front {
  height: auto;
  transition: height 0.3s ease;
}

.text-wrapper.front.expanded {
  max-height: 100px;
}

.dynamic-card .text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
  height: auto;
  overflow: hidden;
  transition: height 0.3s ease, padding 0.3s ease;
}

.dynamic-card:hover .text-wrapper {
  height: auto;
  max-height: none;
}

.dynamic-card:hover .text-wrapper.front {
  height: auto;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

@media screen and (max-width: 768px) {
  .description-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(20px);
    opacity: 0;
    transition: opacity 0.4s ease, transform 0.4s ease;
    width: 90%;
    max-width: 500px;
    padding: 8px 12px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 8px;
    color: white;
    text-align: center;
    font-size: 0.9rem;
    box-sizing: border-box;
    z-index: 1000;
    display: none;
  }
  .description-container.show {
    display: block;
    opacity: 1;
    transform: translateX(-50%) translateY(-70px);
  }
  .description-container.hide {
    opacity: 0;
    transform: translateX(-50%) translateY(10px);
  }
  .expanded-card {
    margin-bottom: 16px;
  }
  .expanded-card .text-wrapper.back {
    display: none !important;
  }
}

.dynamic-card:hover .text-wrapper.front .title {
  transform: translateY(-10px);
  transition: transform 0.4s ease;
}

.dynamic-card:hover .text-wrapper.front .subtitle {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.4s ease, transform 0.4s ease;
}

@media (min-width: 1024px) {
  .dynamic-card:hover .text-wrapper {
    height: auto;
    max-height: none;
  }

  .dynamic-card:hover .text-wrapper.front .title {
    transform: translateY(-10px);
    transition: transform 0.4s ease;
  }

  .dynamic-card:hover .text-wrapper.front .subtitle {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.4s ease, transform 0.4s ease;
  }
}

.text-wrapper.back {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  display: none;
}

@media (max-width: 1023px) {
  .text-wrapper.front {
    opacity: 1;
    transition: height 0.3s ease, transform 0.3s ease;
  }

  .dynamic-card:hover .text-wrapper.back {
    display: none;
  }
}

.text-wrapper .title {
  /* FIXME https://github.com/philosophics/MovingForward.Photography/issues/3 */
  font-size: 1rem;
  font-weight: bold;
  margin-top: 2;
  white-space: nowrap;
  text-align: center;
  line-height: 1.2;
  transition: none;
}

.text-wrapper .title::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  margin-top: -2px;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.5) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  transform: translateY(0);
  transition: transform 0.3s ease;
}

.text-wrapper .subtitle {
  font-size: 0.7rem;
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  margin-top: 2px;
}

@media screen and (max-width: 768px) {
  .text-wrapper .title {
    padding-bottom: 2px;
  }

  .text-wrapper .subtitle {
    opacity: 1;
    margin-top: 4px;
    transform: translateY(0);
    transition: none;
  }
}

.dynamic-card:hover .text-wrapper .subtitle {
  opacity: 1;
  transform: translateY(0);
}

.text-wrapper .description {
  font-size: 0.9rem;
  text-align: center;
  padding: 8px;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.expanded-card {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 90vw;
  max-height: 90vh;
  z-index: 1001;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  border-radius: 0;
  overflow: hidden;
  border-radius: 8px;
  transition: all 0.5s ease-in-out;
}

.expanded-card img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease-in-out;
}

.overlay .expanded-card {
  transform: scale(1);
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes stackIn {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.expanded-card .text-wrapper.front {
  display: none;
}

.expanded-card .text-wrapper.back {
  display: flex;
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

@media (max-width: 768px) {
  .expanded-card .text-wrapper.back {
    font-size: 0.9rem;
    padding: 12px;
  }
}

.expanded-card:hover img {
  transform: none;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  border: none;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  font-size: 24px;
  font-weight: bold;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  z-index: 10;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.close-btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
  transform: scale(1.1);
}

.close-btn:focus {
  outline: none;
}

.arrow {
  cursor: pointer;
  height: 40px;
  width: 30px;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.1s;
  background: none;
  border: none;
  outline: none;
  padding: 0;
  z-index: 10;
}

.arrow.prev {
  left: 20px;
  transform: translateY(-50%);
}

.arrow.prev .arrow-inner {
  transform: rotate(180deg);
}

.arrow.next {
  right: 20px;
}

.arrow-inner {
  position: relative;
  height: 100%;
  width: 100%;
}

.arrow-top,
.arrow-bottom {
  background-color: #666;
  height: 3px;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.arrow-top {
  transform: rotate(45deg);
  transform-origin: bottom right;
}

.arrow-bottom {
  transform: rotate(-45deg);
  transform-origin: top right;
}

.arrow-inner:hover .arrow-top,
.arrow-inner:hover .arrow-bottom {
  background-color: #fff;
}

.arrow:active {
  transform: translateY(-50%) scale(0.9);
}

@media screen and (max-width: 768px) {
  .close-btn {
    width: 30px;
    height: 30px;
    font-size: 18px;
    top: 8px;
    right: 8px;
  }

  .arrow {
    height: 30px;
    width: 20px;
  }

  .arrow.prev {
    left: 10px;
  }

  .arrow.next {
    right: 10px;
  }

  .arrow-top,
  .arrow-bottom {
    height: 2px;
    background-color: #fff;
  }
}

.expanded-card:hover .text-wrapper.back {
  opacity: 1;
  transform: translateY(0);
}

.expanded-card:hover .text-wrapper.back,
.expanded-card:hover .close-btn {
  display: block;
}

.expanded-card .text-wrapper.back,
.expanded-card .close-btn {
  transition: opacity 0.4s ease, transform 0.4s ease;
}

.dynamic-card.featured:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.hamburger input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.hamburger {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 20px;
  user-select: none;
}

.checkmark {
  position: relative;
  top: 0;
  left: 0;
  height: 1.3em;
  width: 1.3em;
}

.checkmark span {
  width: 32px;
  height: 2px;
  background-color: white;
  position: absolute;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.checkmark span:nth-child(1) {
  top: 10%;
}

.checkmark span:nth-child(2) {
  top: 50%;
}

.checkmark span:nth-child(3) {
  top: 90%;
}

.hamburger input:checked + .checkmark span:nth-child(1) {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  -webkit-transform: translateY(-50%) rotate(45deg);
  -moz-transform: translateY(-50%) rotate(45deg);
  -ms-transform: translateY(-50%) rotate(45deg);
  -o-transform: translateY(-50%) rotate(45deg);
}

.hamburger input:checked + .checkmark span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
  -webkit-transform: translateY(-50%) rotate(-45deg);
  -moz-transform: translateY(-50%) rotate(-45deg);
  -ms-transform: translateY(-50%) rotate(-45deg);
  -o-transform: translateY(-50%) rotate(-45deg);
}

.hamburger input:checked + .checkmark span:nth-child(3) {
  transform: translateX(-50px);
  -webkit-transform: translateX(-50px);
  -moz-transform: translateX(-50px);
  -ms-transform: translateX(-50px);
  -o-transform: translateX(-50px);
  opacity: 0;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #141414;
  color: gray;
  padding: 10px 20px;
  transition: transform 0.5s ease-in-out;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.footer-hidden {
  transform: translateY(100%);
}

.footer-left {
  flex: 1;
  text-align: left;
}

.footer-center {
  flex: 1;
  text-align: center;
}

.footer-buttons {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}

.button {
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  width: 48px;
  height: 48px;
  border-radius: 12px;
  background-color: #2d2e32;
  border: 2px solid #2d2e32;
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button svg {
  width: 22px;
  height: 22px;
  margin: auto;
}

.button:hover {
  transform: scale(1.1);
  background-color: #fff;
  color: #2d2e32;
}

.button:hover .btn-svg {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(305deg) brightness(103%) contrast(103%);
}

footer p {
  margin: 0;
  font-size: 14px;
}

footer a {
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s ease;
}

footer a:hover {
  color: #ffa000;
}

@media screen and (max-width: 768px) {
  footer {
    flex-direction: column;
    padding: 10px;
  }

  .footer-left,
  .footer-center,
  .footer-buttons {
    text-align: center;
    margin: 5px 0;
  }

  .footer-buttons {
    display: none;
  }
}

/* Base hero section styling */
.hero {
  display: flex; /* Align image and text side-by-side */
  flex-wrap: wrap; /* Allow items to stack on smaller screens */
  align-items: center; /* Vertically align items */
  gap: 2rem; /* Space between image and text */
  padding: 2rem; /* Inner spacing for the section */
  max-width: 1200px; /* Constrain content width */
  margin: 0 auto; /* Center the section horizontally */
}

/* Ensure hero image is appropriately sized */
.hero-image {
  flex: 1 1 40%; /* Allocate 40% width to the image */
  max-width: 500px; /* Prevent the image from becoming too large */
  height: auto; /* Maintain aspect ratio */
  border-radius: 8px; /* Add rounded corners */
  object-fit: cover; /* Ensure the image scales well */
}

/* Text section next to the image */
.hero-text {
  flex: 1 1 60%; /* Allocate 60% width to text */
  max-width: 700px; /* Prevent text from stretching too wide */
}

/* Typography */
.hero-title {
  font-size: 2rem; /* Large title */
  margin-bottom: 1rem; /* Space below the title */
}

.hero-subtitle {
  font-size: 1.2rem; /* Slightly smaller text */
  line-height: 1.6; /* Improve readability */
}

/* Ensure content container spans full height and enables scrolling */
.content-container {
  display: block; /* Override potential flex or grid on main container */
  overflow-y: auto; /* Allow vertical scrolling */
  padding-bottom: 5rem; /* Add space for scrolling past the content */
  margin: 12px;
}

/* Mobile adjustments */
@media (max-width: 768px) {
  .hero {
    flex-direction: column; /* Stack image and text */
    text-align: center; /* Center-align text for better presentation */
  }

  .hero-image {
    width: 100%; /* Use full width on small screens */
    margin-bottom: 1.5rem; /* Add space below the image */
  }

  .hero-text {
    width: 100%; /* Full width for text */
  }
}

/* Astronaut Animation */
@keyframes astronaut {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Stars Animation */
@keyframes snow {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }

  20% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    transform: translateY(650px);
  }
}

@keyframes snow {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateY(1000px) translateX(0px);
  }
}

.box-of-star1,
.box-of-star2,
.box-of-star3,
.box-of-star4 {
  width: 100%;
  position: absolute;
  z-index: 0;
  left: 0;
  top: 0;
  height: 100vh;
  animation: snow 8s linear infinite;
}

.box-of-star2 {
  animation-delay: -2s;
}

.box-of-star3 {
  animation-delay: -4s;
}

.box-of-star4 {
  animation-delay: -6s;
}

.box-of-star-mobile {
  display: none;
}

.star {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  z-index: 10;
  opacity: 0.7;
  filter: blur(1px);
}

.star:before {
  content: '';
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  z-index: 10;
  top: 80px;
  left: 70px;
  opacity: 0.7;
}

.star:after {
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  z-index: 10;
  top: 8px;
  left: 170px;
  opacity: 0.9;
}

.star-position1 {
  top: 30px;
  left: 20px;
}

.star-position2 {
  top: 110px;
  left: 250px;
}

.star-position3 {
  top: 60px;
  left: 570px;
}

.star-position4 {
  top: 120px;
  left: 900px;
}

.star-position5 {
  top: 20px;
  left: 1120px;
}

.star-position6 {
  top: 90px;
  left: 1280px;
}

.star-position7 {
  top: 30px;
  left: 1480px;
}

.astronaut {
  width: 250px;
  height: 300px;
  position: absolute;
  z-index: 11;
  top: calc(50% - 150px);
  left: calc(50% - 125px);
  animation: astronaut 5s linear infinite;
}

.schoolbag {
  width: 100px;
  height: 150px;
  position: absolute;
  z-index: 1;
  top: calc(50% - 75px);
  left: calc(50% - 50px);
  background-color: #94b7ca;
  border-radius: 50px 50px 0 0 / 30px 30px 0 0;
}

.head {
  width: 97px;
  height: 80px;
  position: absolute;
  z-index: 3;
  background: -webkit-linear-gradient(left, #e3e8eb 0%, #e3e8eb 50%, #fbfdfa 50%, #fbfdfa 100%);
  border-radius: 50%;
  top: 34px;
  left: calc(50% - 47.5px);
}

.head:after {
  content: '';
  width: 60px;
  height: 50px;
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 30px);
  background: -webkit-linear-gradient(top, #15aece 0%, #15aece 50%, #0391bf 50%, #0391bf 100%);
  border-radius: 15px;
}

.head:before {
  content: '';
  width: 12px;
  height: 25px;
  position: absolute;
  top: calc(50% - 12.5px);
  left: -4px;
  background-color: #618095;
  border-radius: 5px;
  box-shadow: 92px 0px 0px #618095;
}

.body {
  width: 85px;
  height: 100px;
  position: absolute;
  z-index: 2;
  background-color: #fffbff;
  border-radius: 40px / 20px;
  top: 105px;
  left: calc(50% - 41px);
  background: -webkit-linear-gradient(left, #e3e8eb 0%, #e3e8eb 50%, #fbfdfa 50%, #fbfdfa 100%);
}

.panel {
  width: 60px;
  height: 40px;
  position: absolute;
  top: 20px;
  left: calc(50% - 30px);
  background-color: #b7cceb;
}

.panel:before {
  content: '';
  width: 30px;
  height: 5px;
  position: absolute;
  top: 9px;
  left: 7px;
  background-color: #fbfdfa;
  box-shadow: 0px 9px 0px #fbfdfa, 0px 18px 0px #fbfdfa;
}

.panel:after {
  content: '';
  width: 8px;
  height: 8px;
  position: absolute;
  top: 9px;
  right: 7px;
  background-color: #fbfdfa;
  border-radius: 50%;
  box-shadow: 0px 14px 0px 2px #fbfdfa;
}

.arm {
  width: 80px;
  height: 30px;
  position: absolute;
  top: 121px;
  z-index: 2;
}

.arm-left {
  left: 30px;
  background-color: #e3e8eb;
  border-radius: 0 0 0 39px;
}

.arm-right {
  right: 30px;
  background-color: #fbfdfa;
  border-radius: 0 0 39px 0;
}

.arm-left:before,
.arm-right:before {
  content: '';
  width: 30px;
  height: 70px;
  position: absolute;
  top: -40px;
}

.arm-left:before {
  border-radius: 50px 50px 0px 120px / 50px 50px 0 110px;
  left: 0;
  background-color: #e3e8eb;
}

.arm-right:before {
  border-radius: 50px 50px 120px 0 / 50px 50px 110px 0;
  right: 0;
  background-color: #fbfdfa;
}

.arm-left:after,
.arm-right:after {
  content: '';
  width: 30px;
  height: 10px;
  position: absolute;
  top: -24px;
}

.arm-left:after {
  background-color: #6e91a4;
  left: 0;
}

.arm-right:after {
  right: 0;
  background-color: #b6d2e0;
}

.leg {
  width: 30px;
  height: 40px;
  position: absolute;
  z-index: 2;
  bottom: 70px;
}

.leg-left {
  left: 76px;
  background-color: #e3e8eb;
  transform: rotate(20deg);
}

.leg-right {
  right: 73px;
  background-color: #fbfdfa;
  transform: rotate(-20deg);
}

.leg-left:before,
.leg-right:before {
  content: '';
  width: 50px;
  height: 25px;
  position: absolute;
  bottom: -26px;
}

.leg-left:before {
  left: -20px;
  background-color: #e3e8eb;
  border-radius: 30px 0 0 0;
  border-bottom: 10px solid #6d96ac;
}

.leg-right:before {
  right: -20px;
  background-color: #fbfdfa;
  border-radius: 0 30px 0 0;
  border-bottom: 10px solid #b0cfe4;
}

@media screen and (max-width: 768px) {
  .oops-text {
    position: relative;
    margin: auto;
    font-size: 1.5rem;
    color: white;
    text-align: center;
    z-index: 10;
  }

  .astronaut {
    width: 150px;
    height: 180px;
    position: absolute;
    z-index: 11;
    top: calc(50% - 70px);
    left: calc(50% - 60px);
    animation: astronaut 5s linear infinite;
  }

  .schoolbag {
    width: 60px;
    height: 90px;
    position: absolute;
    z-index: 1;
    top: calc(50% - 45px);
    left: calc(50% - 30px);
    background-color: #94b7ca;
    border-radius: 30px 30px 0 0 / 20px 20px 0 0;
  }

  .head {
    width: 60px;
    height: 50px;
    position: absolute;
    z-index: 3;
    background: -webkit-linear-gradient(left, #e3e8eb 0%, #e3e8eb 50%, #fbfdfa 50%, #fbfdfa 100%);
    border-radius: 50%;
    top: 18px;
    left: calc(50% - 30px);
  }

  .head:after {
    content: '';
    width: 40px;
    height: 30px;
    position: absolute;
    top: calc(50% - 15px);
    left: calc(50% - 20px);
    background: -webkit-linear-gradient(top, #15aece 0%, #15aece 50%, #0391bf 50%, #0391bf 100%);
    border-radius: 15px;
  }

  .head:before {
    content: '';
    width: 8px;
    height: 15px;
    position: absolute;
    top: calc(50% - 7.5px);
    left: -3px;
    background-color: #618095;
    border-radius: 5px;
    box-shadow: 60px 0px 0px #618095;
  }

  .body {
    width: 60px;
    height: 70px;
    position: absolute;
    z-index: 2;
    background-color: #fffbff;
    border-radius: 30px / 15px;
    top: 70px;
    left: calc(50% - 30px);
    background: -webkit-linear-gradient(left, #e3e8eb 0%, #e3e8eb 50%, #fbfdfa 50%, #fbfdfa 100%);
  }

  .panel {
    width: 40px;
    height: 25px;
    position: absolute;
    top: 10px;
    left: calc(50% - 20px);
    background-color: #b7cceb;
  }

  .panel:before {
    content: '';
    width: 20px;
    height: 3px;
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: #fbfdfa;
    box-shadow: 0px 6px 0px #fbfdfa, 0px 12px 0px #fbfdfa;
  }

  .panel:after {
    content: '';
    width: 6px;
    height: 6px;
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #fbfdfa;
    border-radius: 50%;
    box-shadow: 0px 10px 0px 2px #fbfdfa;
  }

  .arm {
    width: 40px;
    height: 15px;
    position: absolute;
    top: 85px;
    z-index: 2;
  }

  .arm-left {
    left: 20px;
    background-color: #e3e8eb;
    border-radius: 0 0 0 20px;
  }

  .arm-right {
    right: 20px;
    background-color: #fbfdfa;
    border-radius: 0 0 20px 0;
  }

  .arm-left:before,
  .arm-right:before {
    content: '';
    width: 20px;
    height: 40px;
    position: absolute;
    top: -20px;
  }

  .arm-left:before {
    border-radius: 30px 30px 0 60px / 30px 30px 0 50px;
    left: 0;
    background-color: #e3e8eb;
  }

  .arm-right:before {
    border-radius: 30px 30px 60px 0 / 30px 30px 50px 0;
    right: 0;
    background-color: #fbfdfa;
  }

  .arm-left:after,
  .arm-right:after {
    content: '';
    width: 15px;
    height: 5px;
    position: absolute;
    top: -12px;
  }

  .arm-left:after {
    background-color: #6e91a4;
    left: 0;
  }

  .arm-right:after {
    right: 0;
    background-color: #b6d2e0;
  }

  .leg {
    width: 15px;
    height: 25px;
    position: absolute;
    z-index: 2;
    bottom: 45px;
  }

  .leg-left {
    left: 45px;
    background-color: #e3e8eb;
    transform: rotate(20deg);
  }

  .leg-right {
    right: 45px;
    background-color: #fbfdfa;
    transform: rotate(-20deg);
  }

  .leg-left:before,
  .leg-right:before {
    content: '';
    width: 30px;
    height: 15px;
    position: absolute;
    bottom: -16px;
  }

  .leg-left:before {
    left: -10px;
    background-color: #e3e8eb;
    border-radius: 20px 0 0 0;
    border-bottom: 5px solid #6d96ac;
  }

  .leg-right:before {
    right: -10px;
    background-color: #fbfdfa;
    border-radius: 0 20px 0 0;
    border-bottom: 5px solid #b0cfe4;
  }

  .box-of-star1,
  .box-of-star2,
  .box-of-star3,
  .box-of-star4 {
    display: none;
    width: 0;
    height: 0;
  }

  @keyframes astronaut-spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes snow {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(100vh);
    }
  }
}
